apiVersion: apps/v1
kind: Deployment
metadata:
  name: devai
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: devai
          resources:
            requests:
              cpu: "500m"
              memory: "1Gi"
            limits:
              cpu: "1"
              memory: "2Gi"
