apiVersion: apps/v1
kind: Deployment
metadata:
  name: devai
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: devai
          resources:
            requests:
              cpu: "2"
              memory: "4Gi"
            limits:
              cpu: "4"
              memory: "8Gi"
